
/* Mobile phone*/
#head_wrap {
	padding-left: 0;
}

body {
	margin-top: 50px;   /* Offset for content */
}

#page_wrap {
	width: 60%;
	padding: 0%;
	margin-left: 450px;
}


/* Desktop */ 
@media(min-width: 768px){
	/* Side Menu */
	.s_menu{
		background-color: rgba(20,20,20,1); 
		position: fixed; 
		top: 51px; 
		left: 225px;
		margin-left: -225px;
		width:225px; 
		height: 100%;
	}
	.s_menu li {
		width: 225px;
		display: block;
	}
}


/* Common Settings */
/* Horizontal Menu */
li.top_menu_item {
	display: inline-block;
	float: none;
	padding-right: 20px;
	
}
		
.top_menu {
	background-color: rgba(20,20,20,1);
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

h1 {
	margin-left: 225px;
}

img {
	margin-top: 50px;
	margin-left: 50px;
}

footer {
	margin-top: 100px;
	margin-left: 250px;
} 

